USE [master]
GO
/****** Object:  Database [ferranovabd]    Script Date: 29/10/2023 10:18:58 ******/
CREATE DATABASE [ferranovabd]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ferranovabd', FILENAME = N'C:\SQLData\ferranovabd.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ferranovabd_log', FILENAME = N'C:\SQLData\ferranovabd_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ferranovabd].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ferranovabd]
GO
/****** Object:  Table [dbo].[cargo]    Script Date: 29/10/2023 10:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cargo](
	[idCargo] [int] IDENTITY(1,1) NOT NULL,
	[descripcionCargo] [nvarchar](50) NULL,
	[codigo] [nvarchar](8) NULL,
	[idEstado] [bit] NOT NULL,
 CONSTRAINT [XPKcargo] PRIMARY KEY CLUSTERED 
(
	[idCargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleado]    Script Date: 29/10/2023 10:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleado](
	[idEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[idCargo] [int] NOT NULL,
	[idEstado] [bit] NOT NULL,
	[idPersona] [int] NOT NULL,
 CONSTRAINT [XPKempleado] PRIMARY KEY CLUSTERED 
(
	[idEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado]    Script Date: 29/10/2023 10:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado](
	[idEstado] [bit] NOT NULL,
	[decripcionEstado] [nvarchar](50) NULL,
 CONSTRAINT [XPKestado] PRIMARY KEY CLUSTERED 
(
	[idEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[persona]    Script Date: 29/10/2023 10:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persona](
	[idPersona] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[apellido] [nvarchar](50) NULL,
	[direccion] [nvarchar](150) NULL,
	[telefono] [nvarchar](12) NULL,
	[fechaNacimiento] [datetime2](6) NULL,
	[correo] [nvarchar](50) NULL,
	[idTipoDocumento] [int] NOT NULL,
	[nroDocumento] [nvarchar](20) NULL,
	[nombreCompleto] [nvarchar](max) NULL,
 CONSTRAINT [XPKpersona] PRIMARY KEY CLUSTERED 
(
	[idPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol]    Script Date: 29/10/2023 10:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](7) NULL,
	[descripcion] [nvarchar](255) NULL,
	[funcion] [nvarchar](100) NULL,
	[idEstado] [bit] NOT NULL,
 CONSTRAINT [XPKrol] PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipoDocumento]    Script Date: 29/10/2023 10:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoDocumento](
	[idTipoDocumento] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](50) NULL,
 CONSTRAINT [XPKtipoDocumento] PRIMARY KEY CLUSTERED 
(
	[idTipoDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarioAcceso]    Script Date: 29/10/2023 10:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarioAcceso](
	[idUsuarioAcceso] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](max) NULL,
	[idEmpleado] [int] NOT NULL,
	[changePassword] [bit] NULL,
	[correo] [nvarchar](80) NULL,
	[creaUsuario] [int] NOT NULL,
	[actualizaUsuario] [int] NOT NULL,
	[fechaDeCreacion] [datetime2](6) NOT NULL,
	[fechaDeActulizacion] [datetime2](6) NOT NULL,
	[idEstado] [bit] NOT NULL,
	[idRol] [int] NOT NULL,
	[celularIdentificador] [nvarchar](50) NULL,
 CONSTRAINT [XPKusuarioAcceso] PRIMARY KEY CLUSTERED 
(
	[idUsuarioAcceso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[VUsuario]    Script Date: 29/10/2023 10:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[VUsuario]
AS
SELECT        dbo.usuarioAcceso.idUsuarioAcceso, dbo.usuarioAcceso.username, dbo.usuarioAcceso.password, dbo.usuarioAcceso.changePassword, dbo.usuarioAcceso.correo, dbo.usuarioAcceso.idRol, 
                         dbo.usuarioAcceso.celularIdentificador, dbo.usuarioAcceso.idEstado, dbo.usuarioAcceso.creaUsuario, dbo.usuarioAcceso.actualizaUsuario, dbo.usuarioAcceso.fechaDeCreacion, dbo.usuarioAcceso.fechaDeActulizacion, 
                         dbo.persona.nroDocumento, dbo.rol.descripcion, dbo.empleado.idCargo, dbo.persona.nombre, dbo.persona.apellido, dbo.rol.codigo, dbo.rol.funcion,dbo.persona.nombreCompleto,dbo.empleado.idEmpleado,dbo.persona.idPersona
FROM            dbo.cargo INNER JOIN
                         dbo.empleado ON dbo.cargo.idCargo = dbo.empleado.idCargo INNER JOIN
                         dbo.estado ON dbo.cargo.idEstado = dbo.estado.idEstado AND dbo.empleado.idEstado = dbo.estado.idEstado INNER JOIN
                         dbo.persona ON dbo.empleado.idPersona = dbo.persona.idPersona INNER JOIN
                         dbo.rol ON dbo.estado.idEstado = dbo.rol.idEstado INNER JOIN
                         dbo.tipoDocumento ON dbo.persona.idTipoDocumento = dbo.tipoDocumento.idTipoDocumento INNER JOIN
                         dbo.usuarioAcceso ON dbo.empleado.idEmpleado = dbo.usuarioAcceso.idEmpleado AND dbo.estado.idEstado = dbo.usuarioAcceso.idEstado AND dbo.estado.idEstado = dbo.usuarioAcceso.idEstado AND 
                         dbo.rol.idRol = dbo.usuarioAcceso.idRol
GO
/****** Object:  View [dbo].[VPersona]    Script Date: 29/10/2023 10:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VPersona] AS
SELECT        dbo.persona.idPersona, dbo.persona.nombre, dbo.persona.apellido, dbo.persona.nombreCompleto, dbo.persona.direccion, dbo.persona.telefono, dbo.persona.correo, dbo.tipoDocumento.idTipoDocumento, 
                         dbo.tipoDocumento.descripcion, dbo.persona.nroDocumento
FROM            dbo.persona INNER JOIN
                         dbo.tipoDocumento ON dbo.persona.idTipoDocumento = dbo.tipoDocumento.idTipoDocumento
GO
/****** Object:  View [dbo].[VEmpleado]    Script Date: 29/10/2023 10:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[VEmpleado]
as

						 SELECT        dbo.empleado.idEmpleado, dbo.persona.nombre, dbo.persona.apellido, dbo.cargo.descripcionCargo, dbo.empleado.idEstado, dbo.estado.decripcionEstado, dbo.persona.telefono, dbo.persona.fechaNacimiento, 
                         dbo.persona.correo, dbo.persona.nroDocumento
FROM            dbo.empleado INNER JOIN
                         dbo.estado ON dbo.empleado.idEstado = dbo.estado.idEstado INNER JOIN
                         dbo.persona ON dbo.empleado.idPersona = dbo.persona.idPersona INNER JOIN
                         dbo.cargo ON dbo.empleado.idCargo = dbo.cargo.idCargo AND dbo.estado.idEstado = dbo.cargo.idEstado
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 29/10/2023 10:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[idCliente] [int] IDENTITY(1,1) NOT NULL,
	[idPersona] [int] NOT NULL,
	[idTipoPersona] [int] NOT NULL,
 CONSTRAINT [XPKclientes] PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipoPersona]    Script Date: 29/10/2023 10:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoPersona](
	[idTipoPersona] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](50) NULL,
 CONSTRAINT [XPKtipoPersona] PRIMARY KEY CLUSTERED 
(
	[idTipoPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VCliente]    Script Date: 29/10/2023 10:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[VCliente]
as

						 SELECT        dbo.clientes.idCliente, dbo.persona.nombre, dbo.persona.apellido, dbo.tipoPersona.descripcion, dbo.persona.nroDocumento, dbo.persona.correo, dbo.persona.telefono
FROM            dbo.clientes INNER JOIN
                         dbo.tipoPersona ON dbo.clientes.idTipoPersona = dbo.tipoPersona.idTipoPersona INNER JOIN
                         dbo.persona ON dbo.clientes.idPersona = dbo.persona.idPersona INNER JOIN
                         dbo.tipoDocumento ON dbo.persona.idTipoDocumento = dbo.tipoDocumento.idTipoDocumento
GO
/****** Object:  Table [dbo].[detallePedido]    Script Date: 29/10/2023 10:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detallePedido](
	[idProducto] [int] NOT NULL,
	[idPedidos] [int] NOT NULL,
	[idDetallePedido] [int] NOT NULL,
 CONSTRAINT [XPKdetallePedido] PRIMARY KEY CLUSTERED 
(
	[idDetallePedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalleProducto]    Script Date: 29/10/2023 10:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalleProducto](
	[idDetalleProducto] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
 CONSTRAINT [XPKdetalleProducto] PRIMARY KEY CLUSTERED 
(
	[idDetalleProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalleVenta]    Script Date: 29/10/2023 10:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalleVenta](
	[idProducto] [int] NOT NULL,
	[idDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[idVenta] [int] NOT NULL,
	[descuento] [money] NULL,
	[total] [money] NULL,
 CONSTRAINT [XPKdetalleVenta] PRIMARY KEY CLUSTERED 
(
	[idDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[error]    Script Date: 29/10/2023 10:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[error](
	[idError] [int] IDENTITY(1,1) NOT NULL,
	[url] [nvarchar](100) NULL,
	[controller] [nvarchar](200) NULL,
	[ip] [nvarchar](100) NULL,
	[method] [nvarchar](20) NULL,
	[userAgent] [nvarchar](150) NULL,
	[host] [nvarchar](100) NULL,
	[classComponent] [nvarchar](100) NULL,
	[functionName] [nvarchar](100) NULL,
	[lineNumber] [int] NULL,
	[error] [nvarchar](200) NULL,
	[stackTrace] [nvarchar](200) NULL,
	[status] [smallint] NULL,
	[request] [nvarchar](max) NULL,
	[errorCode] [int] NOT NULL,
	[idPersona] [int] NOT NULL,
	[idUsuarioAcceso] [int] NOT NULL,
 CONSTRAINT [XPKerror] PRIMARY KEY CLUSTERED 
(
	[idError] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menuAcceso]    Script Date: 29/10/2023 10:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menuAcceso](
	[idMenu] [int] NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[descripcion] [nvarchar](200) NULL,
	[icono] [nvarchar](50) NULL,
	[datatarget] [nvarchar](50) NULL,
	[url] [nvarchar](100) NULL,
	[padre] [int] NOT NULL,
	[idEstado] [bit] NOT NULL,
	[fechaCreacion] [datetime2](7) NOT NULL,
	[fechaActualizacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menuRol]    Script Date: 29/10/2023 10:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menuRol](
	[idMenuRol] [int] NOT NULL,
	[idRol] [int] NOT NULL,
	[idEstado] [bit] NOT NULL,
	[fechaCreacion] [datetime2](7) NOT NULL,
	[fechaActualizacion] [datetime2](7) NOT NULL,
	[idMenu] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idMenuRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[metodoPago]    Script Date: 29/10/2023 10:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[metodoPago](
	[idMetodopago] [int] IDENTITY(1,1) NOT NULL,
	[nombreMetodoPago] [nvarchar](50) NULL,
 CONSTRAINT [XPKmetodoPago] PRIMARY KEY CLUSTERED 
(
	[idMetodopago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedidos]    Script Date: 29/10/2023 10:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedidos](
	[idPedidos] [int] IDENTITY(1,1) NOT NULL,
	[fechaEntrega] [datetime] NOT NULL,
	[hora] [time](7) NULL,
	[descripcion] [nvarchar](100) NULL,
	[idCliente] [int] NOT NULL,
	[cantidad] [smallint] NULL,
 CONSTRAINT [XPKpedidos] PRIMARY KEY CLUSTERED 
(
	[idPedidos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 29/10/2023 10:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[idDetalleProducto] [int] NOT NULL,
	[stock] [smallint] NULL,
	[precio] [money] NULL,
	[nombre] [nvarchar](50) NULL,
	[imagen] [image] NULL,
 CONSTRAINT [XPKproducto] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedor]    Script Date: 29/10/2023 10:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedor](
	[idProveedor] [int] IDENTITY(1,1) NOT NULL,
	[ruc] [nvarchar](15) NULL,
	[idPersona] [int] NOT NULL,
 CONSTRAINT [XPKproveedor] PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedorProducto]    Script Date: 29/10/2023 10:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedorProducto](
	[idProveedor] [int] NOT NULL,
	[idProducto] [int] NOT NULL,
	[idProveedorProducto] [int] IDENTITY(1,1) NOT NULL,
	[precioCosto] [money] NULL,
 CONSTRAINT [XPKproveedorProducto] PRIMARY KEY CLUSTERED 
(
	[idProveedorProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sesionUsuario]    Script Date: 29/10/2023 10:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sesionUsuario](
	[idSesionUser] [int] IDENTITY(1,1) NOT NULL,
	[ip] [nvarchar](max) NULL,
	[browser] [nvarchar](max) NULL,
	[token] [nvarchar](max) NULL,
	[tokenRefresh] [nvarchar](max) NULL,
	[fechaCreacion] [datetime2](6) NOT NULL,
	[fechaActuzalicion] [datetime2](6) NOT NULL,
	[idUsuarioAcceso] [int] NOT NULL,
 CONSTRAINT [XPKsesionUsuario] PRIMARY KEY CLUSTERED 
(
	[idSesionUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipoComprobante]    Script Date: 29/10/2023 10:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoComprobante](
	[idTipoComprobante] [int] IDENTITY(1,1) NOT NULL,
	[nombreTipoComprobante] [nvarchar](50) NULL,
 CONSTRAINT [XPKtipoComprobante] PRIMARY KEY CLUSTERED 
(
	[idTipoComprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[venta]    Script Date: 29/10/2023 10:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[venta](
	[idVenta] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idCliente] [int] NOT NULL,
	[fechaVenta] [datetime2](6) NULL,
	[igv] [decimal](3, 2) NULL,
	[subtotal] [money] NULL,
	[costoVenta] [money] NULL,
	[idTipoComprobante] [int] NOT NULL,
	[idMetodopago] [int] NOT NULL,
 CONSTRAINT [XPKventa] PRIMARY KEY CLUSTERED 
(
	[idVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cargo] ON 

INSERT [dbo].[cargo] ([idCargo], [descripcionCargo], [codigo], [idEstado]) VALUES (5, N'Administrador', N'ADM', 1)
INSERT [dbo].[cargo] ([idCargo], [descripcionCargo], [codigo], [idEstado]) VALUES (9, N'Jefe de Sistemas', N'JSIS', 1)
INSERT [dbo].[cargo] ([idCargo], [descripcionCargo], [codigo], [idEstado]) VALUES (10, N'Jefe de Operaciones', N'JOP', 0)
SET IDENTITY_INSERT [dbo].[cargo] OFF
GO
SET IDENTITY_INSERT [dbo].[empleado] ON 

INSERT [dbo].[empleado] ([idEmpleado], [idCargo], [idEstado], [idPersona]) VALUES (2, 5, 1, 3)
SET IDENTITY_INSERT [dbo].[empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[error] ON 

SET IDENTITY_INSERT [dbo].[error] OFF
GO
INSERT [dbo].[estado] ([idEstado], [decripcionEstado]) VALUES (0, N'inactivo')
INSERT [dbo].[estado] ([idEstado], [decripcionEstado]) VALUES (1, N'activo')
GO
SET IDENTITY_INSERT [dbo].[persona] ON 

INSERT [dbo].[persona] ([idPersona], [nombre], [apellido], [direccion], [telefono], [fechaNacimiento], [correo], [idTipoDocumento], [nroDocumento], [nombreCompleto]) VALUES (3, N'mauricio', N'contreras', N'jr pedro galvez', N'982775338', CAST(N'1999-07-09T00:00:00.0000000' AS DateTime2), N'i20260200@continental.edu.pe', 1, N'77416925', NULL)
SET IDENTITY_INSERT [dbo].[persona] OFF
GO
SET IDENTITY_INSERT [dbo].[rol] ON 

INSERT [dbo].[rol] ([idRol], [codigo], [descripcion], [funcion], [idEstado]) VALUES (1, N'2026200', N'developer', N'administrarElSistemaWeb', 1)
SET IDENTITY_INSERT [dbo].[rol] OFF
GO
SET IDENTITY_INSERT [dbo].[tipoDocumento] ON 

INSERT [dbo].[tipoDocumento] ([idTipoDocumento], [descripcion]) VALUES (1, N'DNI')
INSERT [dbo].[tipoDocumento] ([idTipoDocumento], [descripcion]) VALUES (2, N'Carnet de Extranjeria')
INSERT [dbo].[tipoDocumento] ([idTipoDocumento], [descripcion]) VALUES (3, N'Pasaporte')
SET IDENTITY_INSERT [dbo].[tipoDocumento] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarioAcceso] ON 

INSERT [dbo].[usuarioAcceso] ([idUsuarioAcceso], [username], [password], [idEmpleado], [changePassword], [correo], [creaUsuario], [actualizaUsuario], [fechaDeCreacion], [fechaDeActulizacion], [idEstado], [idRol], [celularIdentificador]) VALUES (6, N'admi', N'123456', 2, 0, N'', 1, 1, CAST(N'2023-09-20T00:00:00.0000000' AS DateTime2), CAST(N'2023-09-20T00:00:00.0000000' AS DateTime2), 1, 1, N'')
SET IDENTITY_INSERT [dbo].[usuarioAcceso] OFF
GO
ALTER TABLE [dbo].[cargo]  WITH CHECK ADD  CONSTRAINT [R_1] FOREIGN KEY([idEstado])
REFERENCES [dbo].[estado] ([idEstado])
GO
ALTER TABLE [dbo].[cargo] CHECK CONSTRAINT [R_1]
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD  CONSTRAINT [R_2] FOREIGN KEY([idPersona])
REFERENCES [dbo].[persona] ([idPersona])
GO
ALTER TABLE [dbo].[clientes] CHECK CONSTRAINT [R_2]
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD  CONSTRAINT [R_3] FOREIGN KEY([idTipoPersona])
REFERENCES [dbo].[tipoPersona] ([idTipoPersona])
GO
ALTER TABLE [dbo].[clientes] CHECK CONSTRAINT [R_3]
GO
ALTER TABLE [dbo].[detallePedido]  WITH CHECK ADD  CONSTRAINT [R_4] FOREIGN KEY([idProducto])
REFERENCES [dbo].[producto] ([idProducto])
GO
ALTER TABLE [dbo].[detallePedido] CHECK CONSTRAINT [R_4]
GO
ALTER TABLE [dbo].[detallePedido]  WITH CHECK ADD  CONSTRAINT [R_5] FOREIGN KEY([idPedidos])
REFERENCES [dbo].[pedidos] ([idPedidos])
GO
ALTER TABLE [dbo].[detallePedido] CHECK CONSTRAINT [R_5]
GO
ALTER TABLE [dbo].[detalleVenta]  WITH CHECK ADD  CONSTRAINT [R_6] FOREIGN KEY([idProducto])
REFERENCES [dbo].[producto] ([idProducto])
GO
ALTER TABLE [dbo].[detalleVenta] CHECK CONSTRAINT [R_6]
GO
ALTER TABLE [dbo].[detalleVenta]  WITH CHECK ADD  CONSTRAINT [R_7] FOREIGN KEY([idVenta])
REFERENCES [dbo].[venta] ([idVenta])
GO
ALTER TABLE [dbo].[detalleVenta] CHECK CONSTRAINT [R_7]
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [R_10] FOREIGN KEY([idPersona])
REFERENCES [dbo].[persona] ([idPersona])
GO
ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [R_10]
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [R_8] FOREIGN KEY([idCargo])
REFERENCES [dbo].[cargo] ([idCargo])
GO
ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [R_8]
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [R_9] FOREIGN KEY([idEstado])
REFERENCES [dbo].[estado] ([idEstado])
GO
ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [R_9]
GO
ALTER TABLE [dbo].[error]  WITH CHECK ADD  CONSTRAINT [R_11] FOREIGN KEY([idPersona])
REFERENCES [dbo].[persona] ([idPersona])
GO
ALTER TABLE [dbo].[error] CHECK CONSTRAINT [R_11]
GO
ALTER TABLE [dbo].[error]  WITH CHECK ADD  CONSTRAINT [R_12] FOREIGN KEY([idUsuarioAcceso])
REFERENCES [dbo].[usuarioAcceso] ([idUsuarioAcceso])
GO
ALTER TABLE [dbo].[error] CHECK CONSTRAINT [R_12]
GO
ALTER TABLE [dbo].[menuAcceso]  WITH CHECK ADD FOREIGN KEY([idEstado])
REFERENCES [dbo].[estado] ([idEstado])
GO
ALTER TABLE [dbo].[menuRol]  WITH CHECK ADD FOREIGN KEY([idEstado])
REFERENCES [dbo].[estado] ([idEstado])
GO
ALTER TABLE [dbo].[menuRol]  WITH CHECK ADD FOREIGN KEY([idMenu])
REFERENCES [dbo].[menuAcceso] ([idMenu])
GO
ALTER TABLE [dbo].[menuRol]  WITH CHECK ADD FOREIGN KEY([idRol])
REFERENCES [dbo].[rol] ([idRol])
GO
ALTER TABLE [dbo].[pedidos]  WITH CHECK ADD  CONSTRAINT [R_13] FOREIGN KEY([idCliente])
REFERENCES [dbo].[clientes] ([idCliente])
GO
ALTER TABLE [dbo].[pedidos] CHECK CONSTRAINT [R_13]
GO
ALTER TABLE [dbo].[persona]  WITH CHECK ADD  CONSTRAINT [R_14] FOREIGN KEY([idTipoDocumento])
REFERENCES [dbo].[tipoDocumento] ([idTipoDocumento])
GO
ALTER TABLE [dbo].[persona] CHECK CONSTRAINT [R_14]
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [R_15] FOREIGN KEY([idDetalleProducto])
REFERENCES [dbo].[detalleProducto] ([idDetalleProducto])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [R_15]
GO
ALTER TABLE [dbo].[proveedor]  WITH CHECK ADD  CONSTRAINT [R_16] FOREIGN KEY([idPersona])
REFERENCES [dbo].[persona] ([idPersona])
GO
ALTER TABLE [dbo].[proveedor] CHECK CONSTRAINT [R_16]
GO
ALTER TABLE [dbo].[proveedorProducto]  WITH CHECK ADD  CONSTRAINT [R_17] FOREIGN KEY([idProveedor])
REFERENCES [dbo].[proveedor] ([idProveedor])
GO
ALTER TABLE [dbo].[proveedorProducto] CHECK CONSTRAINT [R_17]
GO
ALTER TABLE [dbo].[proveedorProducto]  WITH CHECK ADD  CONSTRAINT [R_18] FOREIGN KEY([idProducto])
REFERENCES [dbo].[producto] ([idProducto])
GO
ALTER TABLE [dbo].[proveedorProducto] CHECK CONSTRAINT [R_18]
GO
ALTER TABLE [dbo].[rol]  WITH CHECK ADD  CONSTRAINT [R_19] FOREIGN KEY([idEstado])
REFERENCES [dbo].[estado] ([idEstado])
GO
ALTER TABLE [dbo].[rol] CHECK CONSTRAINT [R_19]
GO
ALTER TABLE [dbo].[sesionUsuario]  WITH CHECK ADD  CONSTRAINT [R_20] FOREIGN KEY([idUsuarioAcceso])
REFERENCES [dbo].[usuarioAcceso] ([idUsuarioAcceso])
GO
ALTER TABLE [dbo].[sesionUsuario] CHECK CONSTRAINT [R_20]
GO
ALTER TABLE [dbo].[usuarioAcceso]  WITH CHECK ADD  CONSTRAINT [R_21] FOREIGN KEY([idEmpleado])
REFERENCES [dbo].[empleado] ([idEmpleado])
GO
ALTER TABLE [dbo].[usuarioAcceso] CHECK CONSTRAINT [R_21]
GO
ALTER TABLE [dbo].[usuarioAcceso]  WITH CHECK ADD  CONSTRAINT [R_22] FOREIGN KEY([idEstado])
REFERENCES [dbo].[estado] ([idEstado])
GO
ALTER TABLE [dbo].[usuarioAcceso] CHECK CONSTRAINT [R_22]
GO
ALTER TABLE [dbo].[usuarioAcceso]  WITH CHECK ADD  CONSTRAINT [R_23] FOREIGN KEY([idRol])
REFERENCES [dbo].[rol] ([idRol])
GO
ALTER TABLE [dbo].[usuarioAcceso] CHECK CONSTRAINT [R_23]
GO
ALTER TABLE [dbo].[usuarioAcceso]  WITH CHECK ADD  CONSTRAINT [R_24] FOREIGN KEY([idEstado])
REFERENCES [dbo].[estado] ([idEstado])
GO
ALTER TABLE [dbo].[usuarioAcceso] CHECK CONSTRAINT [R_24]
GO
ALTER TABLE [dbo].[venta]  WITH CHECK ADD  CONSTRAINT [R_25] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuarioAcceso] ([idUsuarioAcceso])
GO
ALTER TABLE [dbo].[venta] CHECK CONSTRAINT [R_25]
GO
ALTER TABLE [dbo].[venta]  WITH CHECK ADD  CONSTRAINT [R_26] FOREIGN KEY([idCliente])
REFERENCES [dbo].[clientes] ([idCliente])
GO
ALTER TABLE [dbo].[venta] CHECK CONSTRAINT [R_26]
GO
ALTER TABLE [dbo].[venta]  WITH CHECK ADD  CONSTRAINT [R_27] FOREIGN KEY([idTipoComprobante])
REFERENCES [dbo].[tipoComprobante] ([idTipoComprobante])
GO
ALTER TABLE [dbo].[venta] CHECK CONSTRAINT [R_27]
GO
ALTER TABLE [dbo].[venta]  WITH CHECK ADD  CONSTRAINT [R_28] FOREIGN KEY([idMetodopago])
REFERENCES [dbo].[metodoPago] ([idMetodopago])
GO
ALTER TABLE [dbo].[venta] CHECK CONSTRAINT [R_28]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "cargo"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 220
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "empleado"
            Begin Extent = 
               Top = 100
               Left = 284
               Bottom = 230
               Right = 454
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "estado"
            Begin Extent = 
               Top = 6
               Left = 466
               Bottom = 102
               Right = 646
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "persona"
            Begin Extent = 
               Top = 6
               Left = 684
               Bottom = 136
               Right = 869
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "rol"
            Begin Extent = 
               Top = 133
               Left = 520
               Bottom = 263
               Right = 690
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tipoDocumento"
            Begin Extent = 
               Top = 249
               Left = 681
               Bottom = 345
               Right = 866
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "usuarioAcceso"
            Begin Extent = 
               Top = 201
               Left = 53
               Bottom = 331
               Right = 250
            End
            DisplayFlags =' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VUsuario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VUsuario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VUsuario'
GO
USE [master]
GO
