<div class="container-fluid px-4 mt-5">
    <div class="card bg-light mb-3">
        <div class="card-header text-center">
            <h1 class="mt-4">MANTENIMIENTO DE PRODUCTOS</h1>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Stock</th>
                        <th>Precio</th>
                        <th>Estado</th>
                        <th>
                            <button (click)="crearProducto(modalEdit)" class="btn btn-primary btn-sm">
                                <i class="fas fa-plus"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let productos of producto">
                        <td> {{productos.IdProducto}} </td>
                        <td> {{productos.Nombre}} </td>
                        <td> {{productos.Descripcion}} </td>
                        <td> {{productos.Stock}} </td>
                        <td> {{productos.Precio}} </td>
                        <td> {{productos.IdEstado}} 
                            <div class="form-check form-switch" >{{productos.IdEstado?'Activo':'Inactivo'}}
                               <input type="checkbox" class="form-check-input" role="switch" [checked]="productos.IdEstado"> 
                            </div>
                        </td>
                        <td>
                            <button (click)="editarProducto(modalEdit, productos)" class="btn btn-primary btn-sm">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button (click)="eliminarRegistro(productos.IdProducto)" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td> 
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<ng-template #modalEdit>
   <app-producto-register
    [title]="titleModal"
    [producto]="productoSelected"
    [accion]="accionModal"
    (closeModalEmmit)="getCloseModalEmmit($event)"
    ></app-producto-register>
  
  </ng-template>
  